*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
.myContainer{
    justify-content: center;
    background-image: url(../images/campusBG.png);
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
.myTemplate{
    background-color: rgba(255, 255, 255, 0.82);
    width: 40em;
    align-items: center;
    padding: 2em;
    border-radius: 1em;
    height: 50%;
    justify-content: space-around;
}
.myTemplate h2{
    margin: 0 auto;
}
.myForm{
    height: 100%;
    width: 100%;
}
form{
    justify-content: space-evenly;
    height: 100%;
    width: 90%;
    align-items: center;
    margin: 0 auto;
}
form input{
    width: 90%;
}